openapi: 3.1.0
info:
  title: Metals Analytics Conversion API
  description: Metals-API provides a free, simple, and lightweight JSON API for current and historical precious metals rates and currency conversion. It supports real-time and historical data for gold, silver, platinum, palladium, and other metals in 170 world currencies.
  version: '1.0'
  contact:
    name: Metals-API
    url: https://metals-api.com/
  license:
    name: Proprietary
    url: https://metals-api.com/terms
servers:
- url: https://metals-api.com/api
  description: Production
security:
- accessKey: []
tags:
- name: Conversion
  description: Currency and metal conversion endpoints.
paths:
  /convert:
    get:
      summary: Convert between currencies and metals
      description: Convert any amount from one currency or metal to another.
      operationId: convert
      tags:
      - Conversion
      parameters:
      - name: from
        in: query
        required: true
        description: Source currency or metal symbol.
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: Target currency or metal symbol.
        schema:
          type: string
      - name: amount
        in: query
        required: true
        description: Amount to convert.
        schema:
          type: number
      - name: date
        in: query
        description: Optional historical date in YYYY-MM-DD format.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Conversion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertResponse'
components:
  schemas:
    ConvertResponse:
      type: object
      properties:
        success:
          type: boolean
        query:
          type: object
          properties:
            from:
              type: string
            to:
              type: string
            amount:
              type: number
        info:
          type: object
          properties:
            timestamp:
              type: integer
            rate:
              type: number
        result:
          type: number
  securitySchemes:
    accessKey:
      type: apiKey
      in: query
      name: access_key
